@media screen and (max-width: 980px){
    body{
        width: 100%;
    }

    #hero-heading{
        font-size: 2rem;
    }
}

@media screen and (max-width: 630px){

    body{
        width: 100%;
    }

    #hero-heading{
        font-size: 1rem;
    }

    #minion-hero{
        width: 2rem;
        height: auto;
    }
}